attrs==25.1.0
build==1.2.2.post1
certifi==2025.1.31
dataclasses-json==0.6.7
flatbuffers==25.1.24
h11==0.14.0
idna==3.10
iniconfig==2.0.0
marshmallow==3.26.1
mypy-extensions==1.0.0
numpy==2.2.2
outcome==1.3.0.post0
packaging==24.2
pluggy==1.5.0
pyproject_hooks==1.2.0
PySocks==1.7.1
pytest==8.3.4
pytest-print==1.0.2
selenium==4.28.1
setuptools==75.8.0
sniffio==1.3.1
sortedcontainers==2.4.0
trio==0.28.0
trio-websocket==0.11.1
typing-inspect==0.9.0
typing_extensions==4.12.2
urllib3==2.3.0
websocket-client==1.8.0
wheel==0.45.1
wsproto==1.2.0
